@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=PT+Sans&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Fira Mono'
}

#page {
  height: 100%;
  background-color: #FAF9F6;
  width: 100%;
  position: absolute;
  min-height: 540px;
  text-align: center;
}

#banner {
  height: 20vh;
  background: url("../img/logo-color.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #50a060;
  background-position: center;
  box-sizing: border-box;
  position: relative;
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

#content {
  width: 90%;
  min-height: 100px;
  margin: 5%;
  margin-top: 20px;
  box-sizing: border-box;
}

h2 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}

.column {
  height: fit-content;
  min-height: 400px;
  box-sizing: border-box;
}

#right-side {
  width: 53%;
  float: right;
}

#left-side {
  width: 43%;
  float: left;
}

.selection {
  border: 2px solid #50a060;
  margin-bottom: 3%;
}

.selection-head {
  width: 100%;
  background-color: #50a060;
  display: block;
  text-align: left;
  font-weight: 800;
  color: beige;
  font-size: 1.3em;
}

#size-area,
#crust-area,
#sauce-area,
#topping-area {
  text-align: left;
}

.selection-sep {
  width: 90%;
}

.selection p {
  font-size: small;
  margin-left: 5vw;
  text-align: left;
}

.pizza-segment {
  width: 11%;
  min-width: 11%;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
}

.topping-row {
  width: 100%;
  display: block;
}

.topping-label {
  display: inline-block;
  width: 66%;
}

.segment-img {
  object-fit: contain;
  width: 22%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#topping-head {
  border: 1px solid #50a060;
}

#topping-head-label {
  width: 40%;
}

#left-segment {
  margin-left:  0.2%;
}

#full-segment {
  margin-left:  -1.9%;
}

#right-segment {
  margin-left:  -1.9%;
}

#food-notation {
  text-align: right;
  font-size: smaller;
}